@font-face{
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    touch-action: none;

    font-family: roboto;
    color: white;
}

#renderCanvas{
    width: 100%;
    height: 100%;
}

#fps{
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: visible;
    opacity: 0.7;

    width: 200px;
    height: 400px;
}

#play, #soundcloud, #google{
    width: 100%;

    margin-top: 50px;
}

#title{
    position: absolute;
    margin: 50px auto;
    width: 100%;
    font-size: 64pt;
    color: whitesmoke;
    text-align: center;
}

#credit{
    position: absolute;
    margin: 90vh auto;
    width: 100%;
    font-size: 18pt;
    color: whitesmoke;
    text-align: center;
}